[buildout]
extends =
    buildout.python/src/base.cfg
    buildout.python/src/readline.cfg
    buildout.python/src/libjpeg.cfg
    buildout.python/src/python24.cfg
    buildout.python/src/links.cfg
parts =
    ${buildout:base-parts}
    ${buildout:readline-parts}
    ${buildout:libjpeg-parts}
    ${buildout:python24-parts}
    ${buildout:links-parts}
python-buildout-root = ${buildout:directory}/buildout.python/src
eggs-directory = eggs
